<% provide(:title, 'Investment confirmation') %>
<h3 class='text-center'>Congratulations!</h3>
<h4 class='text-center'>That's all you need to do.</h4>
<br/>
<div class='row'>
  <div class='backdrop col-md-6 col-md-offset-3'>
    <p>Welcome aboard!</p>
    <p>
      Your investment in Coming Soon Test is complete and your payment is being processed.  Typically this payment takes 1-2 business days to clear.  Here is some info
    </p>
    <p>
      A seperate confirmation will be sent to you detailing your account number and access information.
    </p>
    <p>Features of your new Crowdpay Account:</p>
    <span>
      Your CrowdPay account is a free, self-directed custodial account – similar to a brokerage account.
    </span>
    <ol>
      <li>The account can hold cash as well as assets.</li>
      <li>Un-invested cash in your account is FDIC insured up to $250,000.</li>
      <li>The un-invested cash portion is interest-bearing.</li>
      <li>
        All repayments (interest, dividends, etc.) are made to the CrowdPay account
        </li>
      <li>
        Cash in a CrowdPay account can be withdrawn (ACH’d) to an external bank account at any time or reinvested in another offering.
      </li>
    </ol>
    <p>
      We would also suggest that you view the short video <%= link_to 'How Equity Crowdfunding Escrow works.', '//www.youtube.com/watch?v=In9IM752dNI' %>
    </p>
    <p>
      Thank you for choosing Equity Allocations Funding Portal.
      Should you have any questions, email us at <%= mail_to 'info@equityallocations.com' %>.
    </p>
    <p>Sincerely,</p>
    <p>Equity Allocations: New Clients Team</p>
  </div>
</div>
