<footer class='footer'>
  <small>
    Equity Allocations is an Equity Crowdfunding Portal
    <br/><br/>
    "Equity Allocations" is a registered Funding Portal with the SEC (Reg No. 7-00019) and FINRA (Firm No. 283099). The manager of the portal, Bellwether Capital Management, LP. does not offer investment advice or advise on the raising of capital through securities offerings. Furthermore, Bellwether does not recommend or otherwise suggest that any investor make an investment in a particular company, or that any company offer securities to a particular investor. Bellwether takes no part in the negotiation or execution of transactions for the purchase or sale of securities, and at no time has possession of funds or securities. Before using this website you must first acknowledge that you have read and agree to Equity Allocations Terms of Use, Privacy Policy, Payment Disclaimer, and Risk Factors.
  </small>
  <nav>
    <ul>
      <li><a href='//equityallocations.com'>Main Site</a></li>
    </ul>
  </nav>
</footer>
